body{
  background-color: #afe0e9;
}

h1 {
  color:#1447f0;
  font: bolder;
}

h3 {
 color:#ec7631;
 height: 1px; 
}
strong {
  color: #ec7631;
}

hr {
background-color: blanchedalmond;
border-style: dotted none none none ;
border-color: rgb(88, 132, 228);
border-width: 5px;
width: 5%;
}

img{
  height: 500px
}
/***********id selector***********/
#heading1{
  color: rgb(243, 62, 17);
}
